
/* ================ SHortcut Links Area ============= */
.marketing {
  background-color: lightcoral;
  height: 11rem;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}
.seo {
  background-color: lightgreen;
  height: 11rem;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  overflow: visible;
  position: relative;
}
.graphic {
  background-color: lightblue;
  height: 11rem;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}
.web {
  background-color: lightpink;
  height: 11rem;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

.shortcut-span {
  font-size: 9rem;
  position: absolute;
  top: 0;
  right: 3rem;
  opacity: 0.2;
  color: #7b7b7b;
}

@media only screen and (max-width: 688px) {
  .shortcut a{
    height: 5rem !important;
  }
  .shortcut-span {
    font-size: 2.5rem !important;
    right: 0;
    top: 0.3rem;
  }
  .links-title{
    font-size: .7rem !important;
    opacity: .9;
  }
  .seo {
    height: 4rem;
  }
  .marketing {
    height: 4rem;
  }
  .graphic {
    height: 4rem;
  }
  .web {
    height: 4rem;
  }
}

@media only screen and (max-width: 995px) {
  .links-title{
    font-size: 1.3rem;
  }
  .shortcut-span{
    font-size: 6rem;
  }
  .shortcut a{
    height: 6rem;
  }
}
/* ============= Service Area ============== */


.card{
    display: flex !important;
    flex-direction: row !important;
}

.home-service-img {
  width: 8rem !important;
  height: 6rem;
}
.head-title h1 {
  font-size: 5rem;
  
  font-weight: 100 !important;
  display: inline-block;
  margin: 5rem 0 ;
  padding: 1.5rem;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.head-title h1:hover {
  background-size: 100% 88%;
  
}
.card-text{
    font-size: 1rem;
    opacity: .8;
}

@media only screen and (max-width: 688px) {
    .head-title h1{
        font-size: 2.4rem ;
        margin: 1rem 0;
       padding: 1rem;
    }
    .card{
        flex-direction: column !important;
        align-items: center;
        
    }
    .card-text{
        font-size: .7rem;
    }
}

/* ================ About Area ================ */



.home-about-desc{
    font-size: 1rem;
    opacity: .8;
}
.home-about-title-2{
    font-size: 1.2rem;
    padding: 1rem 0;
}

.about-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

@media only screen and (max-width: 688px) {
  .about-container{
    flex-direction: column;
  }
  .home-about-title-2{
    font-size: 1rem;
  }
  .home-about-desc{
    font-size: .7rem;
  }
  .home-about-img img{
    width: 100%;
    margin-top: 1rem;
  }
  .about-container{
    gap: 2rem;
  }
}


/* ======================== SEO Area ================ */


.home-seo-title{
  padding-top: 10rem;
  width: 50%;
  margin: 0 auto;
}

.home-seo-desc{
  opacity: .7;
  width: 50%;
}

.home-seo-img{
  width: 10rem !important;
  padding: 1rem 0;
}


.home-seo-btn-container{
  width: 23rem !important;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.home-seo-btn-container a{
  padding: 1rem 2rem;
  color: #fff;
}
.home-seo-btn-container a:hover{
  background-color: tomato !important;
  color: #fff;
}

@media only screen and (max-width: 688px) {
  .card-body{
    padding: 0;
  }
  .card-title{
    font-size: .8rem;
  }
  .home-seo-title{
    width: 100%;
  }
  .home-seo-btn-container a{
    padding: .7rem 1rem;
  }
  .home-seo-desc{
    width: 50% !important;
  }
}


/* ======================= Testimonial ========================= */


.testimonial-section{
  background-color: #272727;
}



.testimonial-text{
  width:50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonial-text h4{
  padding: 2rem 0;
}

.testimonials{
  padding: 3rem 0;
  width: 50%;
}



.carousel-text{
  position: absolute;
  top: 4rem;
  text-align: center;
  color: #fff;
}
.carousel-text h5{
  padding: 4rem 3rem;
}
.carousel-text h6{
  font-weight: bold;
  color: tomato;
}

.testimonial-slider{
  height: 30rem;
}

@media only screen and (max-width: 688px) {
  .testimonial-container{
    flex-direction: column;
  }
  .testimonial-text{
    width: 100%;
    align-items: center;
    text-align: center;
    
  }
  .testimonials{
    width: 100%;
    padding: 0;
  }
  .carousel-text{
    top: 2rem;
  }
  .carousel-text h5{
    font-size: .8rem;
    padding: 1rem;
  }
  .carousel-text p{
    font-size: .6rem;
  }
}



/*======================= Pricing Table ========================== */


.pricingTable{
  margin-top:30px;
  text-align: center;
  position: relative;
}
.pricingTable .pricing_heading:after{
  content: "";
  width: 36px;
  height: 29.5%;
  background:#EF476F;
  position: absolute;
  top: -1px;
  right: 0;
  z-index: 2;
  transform: skewY(45deg) translateY(18px);
  transition: all 0.4s ease 0s;
}
.pricingTable .title{
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
  background: #EF476F;
  padding: 15px 0 0;
  margin: 0 35px 0 0;
  transition: all 0.4s ease 0s;
}
.pricingTable .value{
  display: block;
  font-size: 35px;
  font-weight: 700;
  color: #000;
  background: #EF476F;
  padding: 5px 0 10px;
  margin: 0 35px 0 0;
  transition: all 0.4s ease 0s;
}
.pricingTable:hover .title,
.pricingTable:hover .value{
  color: #fff;
}
.pricingTable .month{
  display: block;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}
.pricingTable .content{
  border-left: 1px solid #f2f2f2;
  position: relative;
}
.pricingTable .content:after{
  content: "";
  width: 35px;
  height: 100%;
  background: #f8f8f8;
  box-shadow: 9px 9px 20px #ddd;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  transform: skewY(-45deg) translateY(-18px);
  transition: all 0.4s ease 0s;
}
.pricingTable .content ul{
  padding: 0;
  margin: 0 35px 0 0;
  list-style: none;
  background: #fff;
}
.pricingTable .content ul li{
  display: block;
  font-size: 15px;
  color: #333;
  line-height: 23px;
  padding: 11px 0;
  border-bottom: 1px solid #f2f2f2;
}
.pricingTable .link{
  background: #fff;
  padding: 20px 0;
  margin-right: 35px;
  border-bottom: 1px solid #f2f2f2;
}
.pricingTable .link a{
  display: inline-block;
  padding: 9px 20px;
  font-weight: 700;
  color: #EF476F;
  text-transform: uppercase;
  border: 1px solid #EF476F;
  background: #fff;
  transition: all 0.4s ease 0s;
}
.pricingTable:hover .link a{
  color: #fff;
  background: #06D6A0;
  border: 1px solid #06D6A0;
}
.pricingTable:hover .pricing_heading:after,
.pricingTable:hover .title,
.pricingTable:hover .value{
  background:#06D6A0;
}
@media only screen and (max-width: 990px){
  .pricingTable{
      margin-bottom: 35px;
  }
}




/* =========================== Clients =============================== */


.logo-list {
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.logo-list img {
  display: inline-block;
  max-width: 85%;
  padding: 15px 0;
  transition: all 0.3s ease-in-out;
  -webkit-filter: grayscale(100);
  -moz-filter: grayscale(100);
  filter: grayscale(100);
}
.logo-list img:hover {
  filter: none;
  transform: scale(1.2);
  -webkit-filter: none;
  -moz-filter: none;
}



/* ======================= Subscribe Section ============================ */


.subscribe-section{
  height: 57vh;
  background-color: tomato;
  color: #fff;
}

.subscribe-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.empty{
  width: 40%;
}
.form-section{
  margin-left: 6rem;
  width: 40%;
}

.form-section input{
  width: 80%;
  height: 3.5rem;
}

.subscribe-btn{
  width: 26rem;
  padding: 1rem 0 !important;
}


/* =================Subscribe Section ================== */

@media only screen and (max-width: 688px) {
  .subscribe-section{
    height: 50vh;
  }  
  .subscribe-container{
    flex-direction: column;
    
  }
  .empty{
    display: none;
    width: 100%;
  }
  .form-section{
    width: 100%;
    margin: 4rem 0;
  }
  .form-section input{
    width: 100%;
    
  }
  .subscribe-btn{
    width: 23.3rem;
  }
}















































